@model List<Liquors.ViewModels.WineModel>

<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>Winery</th>
                    <th>Rating</th>
                    <th>Options</th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Name)</td>
                        <td>@Html.DisplayFor(x => item.Type)</td>
                        <td>@Html.DisplayFor(x => item.Country)</td>
                        <td>@Html.DisplayFor(x => item.Region)</td>
                        <td>@Html.DisplayFor(x => item.Winery)</td>
                        <td>@Html.DisplayFor(x => item.Rating)</td>

                        <td>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("Rate", new {id=item.Id})">Rate</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
            
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-success" href="@Url.Action("Add")">Add</a>
        </div>
    </div>
    </div>